<mat-toolbar color="primary">
    <mat-toolbar-row>
    <ng-container *ngIf="history.length!==0">
        <i style="  cursor: pointer;" class="material-icons" (click)="historyBtn()">keyboard_backspace</i>&nbsp;&nbsp;
    </ng-container>
    <span>Dictionary</span>
    <div>
        <button mat-button (click)="shuffle()"> <i class="material-icons">shuffle</i>  </button>
    </div>
    <div class="container">
        <app-search-bar (searchEmit)="searchResults($event)"></app-search-bar>
    </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" style="height:0.2em">
        <mat-toolbar-row>
        <div *ngIf="user==null">
            <button mat-button (click)="signIn()" ><span class="hyp-links">Sign in</span></button>
        </div>
        <div *ngIf="user!=null">
                <button mat-button (click)="signOut()" ><span class="hyp-links">Sign Out</span></button>
        </div>
        <!-- <div *ngIf="user!=null">
                <span>{{ user.name }}</span>
        </div>     -->
        <div>
                <button mat-button (click)="signOut()" ><span class="hyp-links">History</span></button>
        </div>
        <div>
                <button mat-button (click)="signOut()" ><span class="hyp-links">Bookmarks</span></button>
        </div>
        </mat-toolbar-row>
</mat-toolbar>



<ul *ngIf="pristine===false">
    <mat-card class="example-card" *ngFor="let result of results">Meaning:{{result["meaning"]}}<br> Usage: {{result["pos"]|posPipe}}<br>
            <ul>
                    <div *ngIf="result['sentences']!=null">
                    <li *ngFor="let sentence of result['sentences'].split(',')">
                        {{sentence}}
                    </li>
                    </div>
                </ul>
                <div *ngIf="result['synonyms']!=null" ngClass="display: flex;">
                        Synonyms:
                        <ng-container *ngFor="let synonym of result['synonyms'].split(',');let i = index">
                            <ng-container *ngIf="i===0 && synonym!==word">
                                        <a [routerLink]="" (click)="onClickWord(synonym)">{{synonym}}</a>
                            </ng-container>
                            <ng-container *ngIf="i!==0 && synonym!==word">
                                    <ng-container *ngIf="i===1 && result['synonyms'].split(',')[0]===word">
                                            <a [routerLink]="" (click)="onClickWord(synonym)">{{synonym}}</a>
                                    </ng-container>
                                    <ng-container *ngIf="i===1 && result['synonyms'].split(',')[0]!==word">
                                            <a [routerLink]="" (click)="onClickWord(synonym)">, {{synonym}}</a>
                                    </ng-container>
                                    <ng-container *ngIf="i!==1 && result['synonyms'].split(',')[0]!==word">
                                            <a [routerLink]="" (click)="onClickWord(synonym)">, {{synonym}}</a>
                                    </ng-container>
                            </ng-container>
                        </ng-container>
                </div>
                
    </mat-card>    
</ul>    

<!-- 
<mat-card class="example-card">
        <mat-card-header>
        <mat-icon>more_vert</mat-icon>
            <mat-card-title>MR. Y</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
    </mat-card> -->

<mat-card class="example-card" *ngIf="pristine">
<h3>Search</h3>
Find a word along with its meaning,synonyms and antonyms
<br>
<br>
<h3>Bookmarks</h3><br>
Bookmark a word by clicking on star to retrieve it later through the overflow.
<br> 

<h3>History</h3><br>
See history of previously selected words
<br>

<h3>Floating Thesaurus</h3><br>
Enable or disable Floating Thesauris from the settings,copy a word anywhere on your device and see its synonyms on a popup window
without opening the application.<br>

<h3>Advanced/Crossword Search</h3><br>
Use ? to replace single letter e.g ba? for bag,bat,bam,ban,bay.<br>
Use * to replace multiple characters e.g. po*t for pocket,podgiest,poet,point.<br>
Combine * and ? e.g. r?t*d for rated,rationed,retained.<br>
</mat-card>